:root{
  --background: #121212;
  --accent: #222222;
  --maintext: #ffffff;
  --subtext: #f5f5f5;
}



div.flex-page-content {
    background-color: var(--background);
    color: var(--maintext);
  }
  
  h3.subheader.module-wrapper__title {
    color: var(--maintext);
  }
  
  div div p strong {
    color: var(--maintext) !important;
  }
  
  div div p {
    color: var(--subtext) !important;
  }
  
  aside.hide-in-background.themed-background-primary-fill-only.left-off-canvas-menu.color-selection-live-mode {
    background-color: var(--background);
  }
  
  div.course-org-list {
    background-color: var(--background);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-1 {
    background-color: var(--accent);
  }
  
  div.ql-editor.bb-editor {
    color: var(--maintext);
    background-color: var(--accent);
  }
  
  div h6 {
    color: var(--maintext);
  }
  
  span.branding.themed-logo-background-primary-fill {
    background-color: var(--background);
    
  }
  
  div.row.collapse {
    background-color: var(--background);
    color: var(--maintext);
  }
  
  #body-content {
    background-color: var(--background);
    
  }
  
  div section h2 {
    background-color: var(--background);
    color: var(--maintext);
    
  }
  
  li.data-row {
    background-color: var(--accent) !important;
    color: var(--maintext) !important;
  }
  
  span.system-default-language {
    color: #FBFBFB;
    
  }
  
  a span span {
    color: var(--maintext);
  }
  
  div.background {
    background-color: var(--maintext);
    
  }
  
  header.base-header.themed-background-primary-medium-down.color-selection-live-mode {
    background-color: var(--background);
  }
  
  h1.page-title.a.themed-background-primary-medium-down.has-filter.js-base-page-skip-link-target {
    color: var(--maintext);
  }
  
  div div a {
    color: var(--maintext) !important;
  }
  
  button.button.button--secondary.round.small {
    background-color: var(--maintext);
  }
  
  div div span {
    color: var(--subtext) !important;
  }
  
  a.button.button--secondary.action-button {
    color: var(--accent);
  }
  
  div.term-navigator {
    background-color: var(--background) !important;
    
  }
  
  div.course-list.current-term {
    background-color: var(--background);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-4 {
    background-color: var(--accent);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-classic {
    background-color: var(--accent);
  }
  
  div h3 {
    background-color: var(--background);
    color: var(--maintext);
  }
  
  #filter-courses-value {
    color: var(--maintext);
  }
  
  h4.js-course-title-element.ellipsis {
    color: var(--maintext);
  }
  
  div bb-username bdi {
    color: var(--subtext);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-2 {
    background-color: var(--accent);
  }
  
  
  div.base-recent-activity .activity-stream .activity-group .stream-item:before {
      content: "";
      position: absolute;
      background-color: rgb(0 0 0 / 85%);
  }
  
  h2.activity-group-title {
    color: #D4D4D4;
    
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-6 {
    background-color: var(--accent);
    
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-8 {
    background-color: var(--accent);
  }
  
  div.base-courses {
    background-color: var(--background);
  }
  
  
  div.hide-in-background {
    background-color: var(--background);
  }
  
  
  #page-size-selector-describe{
    color: var(--accent);
  }
  
  div.select-wrapper {
    color: var(--accent) !important;
    background-color: var(--background) !important;
    
  }
  
  
  input.ng-pristine.ng-untouched.ng-valid.ng-empty {
    background-color: var(--accent);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.inactive-link.child-is-invokable.course-color-3 {
    background-color: var(--accent);
    
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-9 {
    background-color: var(--accent);
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.inactive-link.child-is-invokable.course-color-3 {
    background-color: var(--accent);
    
  }
  
    div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-9 {   background-color: var(--accent); 
  }
  
  div.element-card.course-element-card.highlight.pointer.bar.js-course-details.child-is-invokable.course-color-9 {   background-color: var(--accent);
  }
  
  td.fc-day-number.fc-sun.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-mon.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-tue.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-wed.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-thu.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-fri.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-sat.fc-past {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-sat.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-sun.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-mon.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-tue.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-wed.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-thu.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-fri.fc-future {
    background-color: var(--accent);
  }
  
  td.fc-day-number.fc-fri.fc-today.fc-state-highlight {
    background-color: var(--accent);
    color: var(--accent);
  }
  
  td.fc-day.fc-widget-content.fc-fri.fc-today.fc-state-highlight {
    background-color: var(--accent);
  }
  
  tr td span {
    color: #6F6F6F;
  }
  
  div.month-link {
    color: #F4F4F4;
  }
  
  h1.page-title.a.themed-background-primary-medium-down.js-base-page-skip-link-target {
    color: var(--maintext);
  }
  
  div.messages-header.js-course-skip-link-target.flex-container {
    background-color: var(--accent);
  }
  
  div.summary {
    color:  var(--accent);
    background-color:   var(--accent);
  }
  
  div.element-card.tile.course-color-1.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  

  
  h4.section-title {
    color: var(--maintext);
  }
  
  span.grade-input-display.grade-ellipsis {
    color: #000000 !important;
  }
  

  
 
  
  div.element-card.tile.course-color-8.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  div.base-grades-empty-state.text-center {
    background-color: var(--accent);
  }
  
  p.main {
    color: var(--subtext) !important;
    background-color: var(--accent) !important;
  }
  
  div.columns.small-12.base-grades-empty-element {
    background-color: var(--accent);
  }
  
  div.element-card.tile.course-color-4.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  div.element-card.tile.course-color-classic.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  div.element-card.tile.course-color-2.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  div.element-card.tile.course-color-9.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  div.element-card.tile.course-color-6.base-grades-course-tile.active-course {
    background-color: var(--accent);
  }
  
  element.style.tabular-row.child-is-invokable:hover{
    background-color: #000000;
  }
  
  div.element-details {
    background-color: var(--background);
    
  }
  
  a.element-card.tile.course-color-3.js-course-details.available.student {
    background-color: var(--accent);
  }
  
  a.link-list-component__link.-black {
    background-color: var(--accent);
  }
  
  div.stream-item.angular-animate {
    background-color: var(--background) !important;
  }
  
  div.filter-wrapper {
    color: var(--maintext);
  }
  
  tbody tr td {
    background-color: #C3C3C3;
    color: #000000;
  }
  
 
  
  header.panel-header.simple-header.course-header.color-selection-live-mode {
    background-color: var(--background);
  }
  
  span.js-course-name.ellipsis {
    background-color: var(--accent);
  }
  
  aside.outline-details.course-color-1 {
    background-color: var(--accent);
  }
  
  div.outline-header {
    background-color: var(--accent);
  }
  
  h2.js-course-skip-link-target.content-header {
    color: var(--maintext);
  }
  
  h2.js-course-skip-link-target.js-details-header {
    color: var(--maintext);
  }
  
  
  bb-datetime.content-due-date {
    color: var(--maintext);
  }
  
  div.due-date {
    color: var(--maintext);
  }
  
  div.panel-header.persistent-white-header.mode-.panel-header-directive.has-controls {
    background-color: var(--accent);
  }
  
  h1.panel-title.secondary-title.student {
    background-color: var(--accent);
    color: var(--maintext);
  }
  
  div.panel {
    background-color: var(--accent);
  }
  
  div.reply-control {
    background-color: var(--accent);
  }
  
  span.progress-status {
    background-color: var(--accent);
  }
  
  div.notification-container {
    background-color: var(--accent) !important;
  }
  
  div.entry.comment-entry {
    background-color: var(--accent);
  }
  
  div h1 span {
    background-color: var(--accent);
  }

  base-content-item.child-is-invokable:hover{
  Background-color: var(--accent);
  }
  

  
  aside.outline-details.course-color-4 {
    
    background-color:  var(--accent);
  }
  
  bb-svg-icon svg use {
    color: var(--maintext);
  }
  
 
  div.row.drag-element-row {
    background-color:  var(--background);
  }
  
  p.js-description {
    color: #DADADA;
  }
  
  div.row.tabular-row.js-row.child-is-invokable {
    background-color:  var(--accent);
  }
  
  aside.student-grade-overview.course-color-4 {
    background-color:  var(--accent);
  }
  
  div.overall-grade-running-total-wrapper__overall-label {
    color: var(--maintext);
  }
  
  div.columns.hide-for-small-only.medium-2 {
    color: var(--maintext);
  }
  
  div.columns.medium-4.large-2 {
    color: var(--maintext);
  }
  
  div.messages-container.color-override.no-border {
    background-color:  var(--accent);
  }
  
  div.large-4.medium-6.columns.column-title.tabular-list-header-offset.name {
    color: var(--maintext);
  }
  
  div.js-report-item-name {
    color: var(--maintext);
  }
  

  div.large-4.columns.column-title.hide-for-medium {
    color: var(--maintext);
  }
  
  div.report-item-description.large-4.hide-for-medium.hide-for-small.columns.js-report-item-description {
    color: var(--maintext);
  }
  
  div div bb-datetime {
    color: var(--maintext) !important;
  }
  
  div.large-4.medium-6.columns.column-title {
    color: var(--maintext);
  }
  
  button.bb-editor-toolbar-button.bb-editor-toolbar-button--separator.bb-editor-toolbar-text.bb-editor-toolbar-dropdown.text-style-normal {
    background-color:  var(--accent);
  }
  
  span.icon.bold-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.italicize-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.underline-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.superscript-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.subscript-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.strikethrough-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.numbered_list-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.bulleted_list-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.insert_formula-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.link-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.attachment-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.image-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.video-normal-icon {
    background-color:  var(--accent);
  }
  
  span.icon.add-normal-icon {
    background-color:  var(--accent);
  }
  
  div.bb-editor-toolbar.no-select {
    background-color:  var(--accent);
  }
  
  button.bb-editor-toolbar-button.bb-editor-toolbar-button--separator.bb-editor-toolbar-dropdown.insert-content-normal {
    color: var(--maintext);
  }
  
  
  aside.student-grade-overview.course-color-1 {
    background-color:  var(--accent);
  }
  
  div.columns.small-8.medium-4.tabular-list-header-offset.text-left {
    color: var(--maintext);
    
  }
  
  
  h2.semester.active-term {
    background-color: var(--background) !important;
    
  }
  
  a.base-navigation-button-content.themed-background-primary-alt-fill-only.theme-border-left-active {
    background-color:  #000000;
  }
  
  
  button.lm-title.secondary-title.ellipse {
    color: var(--maintext);
  }
  
  
 
  
  aside.student-grade-overview.course-color-2 {
    background-color:  var(--accent);
  }
  

  
  aside.column.medium-12.large-3.outline-actions {
    background-color: var(--background);
  }
  
  div.course-outline-row.row {
    background-color: var(--background);
  }
  
  div.panel-content {
    background-color: var(--accent);
  }
  
  
  div.folder-contents {
    background-color: var(--accent);
    
  }


.f-dropdown li a, .f-dropdown li button {
    transition: none;
    color: #262626;
    background-color: #080808;
    text-decoration: none;
}

div.multi-column-course-id {
    color: var(--maintext);
  }
  
  h4.js-course-title-element {
    color: #DADADA;
  }

  .makeStylesbodyContainer-0-2-9 {
    background-color: var(--background) !important;
}

.MuiPaperroot-0-2-207 {
  background-color: var(--accent) !important;

}

.MuiButtoncontainedPrimary-0-3-10{
  background-color: var(--background);
}

h3.title.ellipsis
{
  background-color: var(--accent) !important;
}

a.bb-click-target{
  background-color: var(--accent) !important;
}

.element-card.tile, .element-card.bar {
  background-color: var(--accent);
}

div button span{
  color: var(--background);
}

bb-ui-icon-link svg path{
  color: var(--background);
}

bb-ui-icon-document-blank svg path{
  color: var(--background);
}

bb-ui-icon-assignment svg path{
  color: var(--background);
}

ui li button{
  color: var(--subtext);
}

a.js-title-link{
  color: var(--subtext);
}

div span bdi{
  color: var(--subtext);
}





.base-content-item .child-is-invokable:hover{
  background-color: var(--accent);
}

.panel-header.persistent-white-header{
  background-color: var(--accent);
}

div.submission-card{
  background-color: var(--accent);
}



label.toggle-label.input.label-two.js-label-toggle-grid{
  background-color: var(--background) !important;
}


section.panel-content.has-slide-up-section{
  background-color: var(--background);
}



img.no.select.broken-image{
  background-color: var(--background);
}

footer.panel-footer{
  background-color: var(--background);
}

div.calendar-head-container{
  background-color: var(--background);
}

div.course-tool-content{
  background-color: var(--background);
}

div.student-grade__header__name{
  background-color: var(--background);
}

aside.student-grade-overview.course-color-9{
  background-color: var(--background);
}
aside.student-grade-overview.course-color-3{
  background-color: var(--background);
}



div.panel-header.persistent-white-header.mode-.panel-header-directive {
  background-color: var(--accent);
  
}

h2.peek-title-h2 {
  color: var(--maintext);
}

span.points-text {
  color: var(--background);
}

span.grade-input-display.ready {
  color: var(--background);
}

span span bdi {
  color: var(--background);
}

footer.submit-footer.panel-footer.hide-on-full.equal-buttons.buttons-1 {
  background-color: var(--background);
}

.panel-wrap{
  background-color: var(--background);
}

.course .outline-details .main-instructor{
  background-color: var(--background);
}

.course .outline-details{
  background-color: var(--background);
}

aside.outline-details.course-color-9{
  background-color: var(--background);
}

div div div{
  border-color: var(--background);
}

.no-create .folder .folder-contents .empty-message{
  background-color: var(--background);
}